<nav class="bg-primary p-4">
    <div class="container d-flex justify-content-between align-content-center shadow">
      <h2 class="text-light">{{ title }}</h2>
      <ul class="d-flex m-0 justify-content-center align-items-center" *ngIf="auth.user$ | async as user; else login">
        <li>
          <button (click)="auth.signOut()" class="btn btn-outline-light mx-4">Изход</button>
          <span class="text-light">{{ user.displayName }}</span>
        </li>
        <li *ngIf="user.isAdmin">          
          <span class="text-light mx-2" (click)="adminWindow()">Админ</span>
        </li>
      </ul>
    </div>
</nav>
<ng-template #login>
    <button (click)="auth.googleSignin()" class="btn btn-outline-light">Вход</button>
</ng-template>