<h2 class="text-center text-warning">{{ data.question.title }}</h2>
<form [formGroup]="addForm">
    <mat-form-field class="w-100">
      <mat-label>Въпрос</mat-label>
      <input matInput formControlName="title" placeholder="Тук въведете самия въпрос">
    </mat-form-field>
    <h2 class="text-center text-warning">Отговори</h2>
    <ul>
      <li class="d-flex justify-content-between" *ngFor="let answer of data.question.answers; let i = index">{{ answer.val }}
        <button mat-button color="warn" (click)="dismissAnswer(i)">Изтрии</button>
      </li>
    </ul>
    <div class="d-flex justify-content-between">
        <button mat-raised-button color="accent" [disabled]="addForm.invalid || isSubmitted" (click)="edit()">Редактирай</button>
        <button mat-raised-button color="primary" [disabled]="addForm.invalid || isSubmitted" (click)="addAnswers()">Добави отговори за въпроса</button>
        <button mat-button color="warn" (click)="closeWindow()">Отмени</button>
    </div>
</form>