<h2 class="text-center text-success">Нов въпрос</h2>
<form [formGroup]="addForm">
  <mat-form-field class="w-100">
    <mat-label>Въпрос</mat-label>
    <input matInput formControlName="title" placeholder="Тук въведете самия въпрос">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Отговори</mat-label>
    <input matInput formControlName="answers" placeholder="Тук въведете всички отговори разделени с запетая">
  </mat-form-field>
  <div class="d-flex justify-content-between">
      <button mat-raised-button color="primary" [disabled]="addForm.invalid || isSubmitted" (click)="add()">Добави</button>
      <button mat-raised-button color="primary">Виж всички</button>
      <button mat-button color="warn" (click)="all()">Отмени</button>
  </div>
</form>