<div class="play-test" *ngIf="question">
    <h2 class="text-center py-4 text-light">{{ question.title }}</h2>
    <h4 class="text-center text-light p-2 rounded-circle border border-light">{{ points }}</h4>
    <form class="w-25 mx-auto">
        <mat-form-field class="w-100">
            <mat-label>Въпрос</mat-label>
            <input matInput autofocus #answer placeholder="Отговор">
        </mat-form-field>
        <button class="w-100" mat-raised-button color="primary" (click)="checkAnswer()">Провери</button>
    </form>
</div>